page-home {
.headerlabel{
	font-size:16px;
	text-align:center;
	margin:5px;
}
ion-content{
	background-image: url('../../assets/imgs/XULiMJ5.jpg') ;
	background-size: 100% 100%;
}
.list .item, .list .item-complex .item-content {
  background: rgba(255,255,255,0);
}
}
